<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= link_to product.title, product_path(product) %></strong><br>
      <%= product.description %><br>
      Price: <%= number_to_currency(product.price) %><br>
      Stock Quantity: <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>